*, *::before, *::after {
  box-sizing: border-box;
  margin: 0; 
  padding: 0; 
  font-family: 'Inter', system-ui, sans-serif;
} 
body {
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
/* .start-section {
  text-align: center;
} */

.hidden {
  display: none !important;
}

/* All main sections (start, quiz, score) overlap */
.start-section,
.quiz-section,
.score-section {
  position: absolute;
  /* top: 0; */
  /* left: 0; */
  /* width: 100%; */
  /* height: 100%; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* flex-direction: column; */
  /* background-color: #fcfdff; */
}

/* Start button */
.btn-start {
  background-color: #034547;
  color: #ffffff;
  font-size: 1.06rem;
  font-weight: bold;
  padding: 0.96rem 2rem;
  border-radius: 0.76rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(129, 84, 7, 0.4);
  transition: transform 0.2s, box-shadow 0.2s;
}


/* git add .
git commit -m "new update"
git push */