*, *::before, *::after {
  box-sizing: border-box;
  margin: 0; 
  padding: 0; 
  font-family: 'Inter', system-ui, sans-serif;
} 
body {
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.start-section {
  text-align: center;
}
.btn-start {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition-duration: 0.4s;
}

/* git add .
git commit -m "new update"
git push */